<div class="mt-28">
  <div class="text-center">
    <app-title title="Login"></app-title>
  </div>

  <form
    [formGroup]="loginForm"
    (ngSubmit)="submit()"
    class="flex flex-col items-center gap-5 mt-10"
  >
    <div class="w-96">
      <text-input
        [control]="fc.email"
        [showErrorsWhen]="isSubmitted"
        type="email"
        label="Email"
      >
      </text-input>
    </div>

    <div class="w-96">
      <text-input
        [control]="fc.password"
        [showErrorsWhen]="isSubmitted"
        type="password"
        label="Password"
      >
      </text-input>
    </div>

    <default-button text="Login"></default-button>
    <div>
      Don't have account? &nbsp;
      <a routerLink="/register" [queryParams]="{ returnUrl: returnUrl }">
        Register
      </a>
    </div>
  </form>
</div>
